body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;

}
h2{
    text-decoration: underline;
    color: blue;
    text-align: center;

}
h3{
    color: darkred;
    font-family: 'Courier New', Courier, monospace;

}